<div class="container mt-4">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <div class="text-center mb-4">
        <h2>Performance Management</h2>
        <button type="button" class="btn btn-primary" (click)="openAddPerformanceModal()" data-bs-toggle="modal" data-bs-target="#performanceModal">
            Add Performance
        </button>
    </div>

    <hr />

    <div class="card">
        <h5 class="card-header">Performance List</h5>
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Intern</th>
                            <th>Rating</th>
                            <th>Comment</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let performance of performanceList">
                            <td>{{ getUserName(performance.userId) }}</td>
                            <td>
                                <div class="star-rating">
                                    <span *ngFor="let star of getStars(performance.grade)" class="star" [ngClass]="{'checked': star === 'checked', 'half': star === 'half'}">&#9733;</span>
                                </div>
                            </td>
                            <td>{{ performance.comment }}</td>
                            <td>{{ performance.week }} / {{ performance.year }}</td>
                            <td>
                                <button type="button" class="btn btn-outline-success me-2" (click)="openEditPerformanceModal(performance)" data-bs-toggle="modal" data-bs-target="#performanceModal">
                                    Edit
                                </button>
                                <button type="button" class="btn btn-outline-danger" (click)="deletePerformance(performance.idperformence)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal for adding and editing performances -->
<div class="modal fade" id="performanceModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ isEditMode ? 'Edit Performance' : 'Add Performance' }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="performanceForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="comment" class="form-label">Comment:</label>
                        <input id="comment" formControlName="comment" class="form-control" type="text" />
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <label class="form-label" for="week">Month:</label>
                            <select formControlName="week" class="form-control" id="week">
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="userId" class="form-label">Intern:</label>
                        <select id="userId" formControlName="userId" class="form-select">
                            <option *ngFor="let user of users" [value]="user.id">{{ user.nom }} {{ user.prenom }}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="year" class="form-label">Year:</label>
                        <input id="year" formControlName="year" class="form-control" type="text" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Teamwork and Leadership:</label>
                        <div id="star-rating-team-work" class="star-rating">
                            <span class="star" (click)="selectStars(1, 'teamWork')" [ngClass]="{'selected': selectedStarsTeamWork >= 1}">
                                <i class="fa-solid fa-star"></i>
                            </span>
                            <span class="star" (click)="selectStars(2, 'teamWork')" [ngClass]="{'selected': selectedStarsTeamWork >= 2}">
                                <i class="fa-solid fa-star"></i>
                            </span>
                            <span class="star" (click)="selectStars(3, 'teamWork')" [ngClass]="{'selected': selectedStarsTeamWork >= 3}">
                                <i class="fa-solid fa-star"></i>
                            </span>
                            <span class="star" (click)="selectStars(4, 'teamWork')" [ngClass]="{'selected': selectedStarsTeamWork >= 4}">
                                <i class="fa-solid fa-star"></i>
                            </span>
                            <span class="star" (click)="selectStars(5, 'teamWork')" [ngClass]="{'selected': selectedStarsTeamWork >= 5}">
                                <i class="fa-solid fa-star"></i>
                            </span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Strategic and Critical Thinking:</label>
                        <div id="star-rating-discipline" class="star-rating">
                            <span class="star" (click)="selectStars(1, 'discipline')" [ngClass]="{'selected': selectedStarsDiscipline >= 1}">
                                <i class="fa-solid fa-star"></i>
                            </span>
                            <span class="star" (click)="selectStars(2, 'discipline')" [ngClass]="{'selected': selectedStarsDiscipline >= 2}">
                                <i class="fa-solid fa-star"></i>
                            </span>
                            <span class="star" (click)="selectStars(3, 'discipline')" [ngClass]="{'selected': selectedStarsDiscipline >= 3}">
                                <i class="fa-solid fa-star"></i>
                            </span>
                            <span class="star" (click)="selectStars(4, 'discipline')" [ngClass]="{'selected': selectedStarsDiscipline >= 4}">
                                <i class="fa-solid fa-star"></i>
                            </span>
                            <span class="star" (click)="selectStars(5, 'discipline')" [ngClass]="{'selected': selectedStarsDiscipline >= 5}">
                                <i class="fa-solid fa-star"></i>
                            </span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Discipline:</label>
                        <div id="star-rating-punctuality" class="star-rating">
                            <span class="star" (click)="selectStars(1, 'punctuality')" [ngClass]="{'selected': selectedStarsPunctuality >= 1}">
                                <i class="fa-solid fa-star"></i>
                            </span>
                            <span class="star" (click)="selectStars(2, 'punctuality')" [ngClass]="{'selected': selectedStarsPunctuality >= 2}">
                                <i class="fa-solid fa-star"></i>
                            </span>
                            <span class="star" (click)="selectStars(3, 'punctuality')" [ngClass]="{'selected': selectedStarsPunctuality >= 3}">
                                <i class="fa-solid fa-star"></i>
                            </span>
                            <span class="star" (click)="selectStars(4, 'punctuality')" [ngClass]="{'selected': selectedStarsPunctuality >= 4}">
                                <i class="fa-solid fa-star"></i>
                            </span>
                            <span class="star" (click)="selectStars(5, 'punctuality')" [ngClass]="{'selected': selectedStarsPunctuality >= 5}">
                                <i class="fa-solid fa-star"></i>
                            </span>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Update' : 'Create' }}</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<style>
  .star-rating {
    font-size: 24px;
  }

  .star {
    color: gray;
    display: inline-block;
  }

  .checked {
    color: gold;
  }

  .half {
    position: relative;
    display: inline-block;
  }

  .half:before {
    content: '\2605'; /* Unicode character for a solid star */
    position: absolute;
    overflow: hidden;
    width: 50%; /* Display half of the star */
    color: gold; /* Color of the half star */
  }

  .button-icon {
    width: 20px;
    height: auto;
    margin-right: 5px;
  }
  form-label {
    font-size: 14px;
}


    .separator {
    height: px; }
    .separator1 {
    height: 10px; }
    .button-space {
    margin: 0 10px; } 
    .button-space1 {
    margin: 0 5px; 
  }
  .swal-center {
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .star {
  cursor: pointer;
}

.star.selected,
.star:hover {
  color: gold; /* Change color to highlight selected stars */
}

.status-icon {
  width: 30px; 
  height: auto; 
  margin-right: 5px; 
}
  /* Add this CSS to your performence.component.css file */

  .star-rating {
    font-size: 20px; /* Adjust the font size to make the stars bigger */
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Add margin to create space between stars and buttons */
}


.star {
  font-size: 20px; /* Adjust the font size to make the stars bigger */
}

  .button-icon {
  width: 20px; /* Adjust the width to your desired size */
  height: auto; /* Maintain aspect ratio */
  margin-right: 5px; /* Optional: Add margin for spacing */
  }
  .button-icon1 {
    width: 40px; 
    height: auto; 
    margin-right: 5px; 
  }
</style>
